/* General Styling */
.about-heading {
  font-size: 36px;
  color: #333;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 10px;
  text-align: center; 
}

/* About Container */
.about-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Card Styling */
.card {
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

.card p {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
  transition: color 0.3s ease;
}

/* Hover Effects for Mission and Vision */
.card:hover {
  background-color: #f0f8ff;
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card h2:hover {
  color: #3498db;
}

.card p:hover {
  color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-heading {
    font-size: 2rem;
  }

  .card h2 {
    font-size: 1.5rem;
  }

  .card p {
    font-size: 1rem;
  }
}

.cont-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Button Hover Effects */
.cont-button :hover {
  background-color: #2980b9;
  transform: scale(1.05);
}