.blogs {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #6cecd0
}

.about-heading {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5rem;
  color: #333;
}

.blog-item {
  background: #f9f9f9;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.12);
  width: 80%;
  max-width: 600px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.blog-image {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 15px;
}

.blog-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.blog-content {
  font-size: 14px;
  color: #555;
}

.blogs .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  
}

@media (max-width: 768px) {
  .blogs .container {
    grid-template-columns: 1fr; 
  }
}

.show-more-button,
.show-all-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.show-more-button:hover,
.show-all-button:hover {
  background-color: #0056b3;
}

.text-center {
  grid-column: span 2; 
  text-align: center;
}

.title{
  color: #009900;
  font-size: 3rem;
  text-align: left;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease; /* Smooth transitions for hover effects */
}
.title:hover {
  color: #015e01; /* Change text color on hover */
  transform: scale(1.07); /* Zoom effect on hover */
}
