/* Common styles */
html {
  scroll-behavior: smooth;
}

.navbar-scroll {
  background-color: #0099008b;
  box-shadow: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  height: 80px;
}

.navbar-scroll .nav-link {
  color: #fff;
  transition: color 0.3s ease;
  font-size: 18px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  position: relative;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.navbar-brand {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.navbar-scrolled {
  background-color: #04aa0c;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.navbar-scrolled .nav-link {
  color: #4f4f4f;
}

.nav-link {
  margin-right: 15px;
  font-weight: bolder;
}

.nav-link.active,
.nav-link:hover {
  color: #ff1500;
  font-size: larger;
}

.navbar-brand img {
  max-height: 60px;
}

/* Learn More Button */
.learn-more-btn {
  background-color: #6a00ff;
  color: #fff;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  margin-right: 20px;
}

.learn-more-btn:hover {
  background-color: #ffffff;
  color: #6a00ff;
}

/* Mobile menu styles */
.mobile-menu-icon {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}

.hamburger-icon {
  font-size: 30px;
  color: #fff;
}

@media (max-width: 991px) {
  .navbar .container-fluid {
    justify-content: space-between;
  }

  .mobile-menu-icon {
    display: block;
  }

  .navbar-nav {
    position: absolute;
    top: 80px; /* Adjust if needed */
    right: 0;
    width: 100%;
    background-color: #0099008b;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }

  .mobile-menu-active {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }

  .nav-link {
    width: 100%;
    text-align: right;
    padding: 1rem 0;
    font-size: 18px;
  }

  .learn-more-btn {
    display: none;
  }
}
